#information_section{
    padding: 120px 0px 0px 0px;
}

#information_section div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
    gap: 24px;
}

#information_section > div > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 40px;
    gap: 10px;
}

#information_section h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color:white
}
#information_section p{
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color:rgba(255,255,255,0.5)
}

#information_section .img {
    background-image: url("../images/Frame\ 3.png");
    background-position: center center;
    width: 1000px;
    height: 500px;
}

@media (max-width: 768px) {
    #information_section{
        padding: 80px 0px 0px 0px;
    }
    
    #information_section div {
        height: 150px;
        gap: 0px;
    }

    
    #information_section > div > div{
        padding: 0px 10px;
        gap: 0px;
    }
    

    #information_section h1{
        font-size: 30px;
    }

    #information_section p{
        font-size: 12px;
    }


    #information_section .img {
        width: 200px;
        height: auto;
    }
}